[config]

[templates.waybar]
input_path  = "~/.config/matugen/templates/waybar.css"
output_path = "~/.config/waybar/colors.css"

[templates.kitty]
input_path  = "~/.config/matugen/templates/kitty.conf"
output_path = "~/.config/kitty/colors.conf"

[templates.rofi]
input_path  = "~/.config/matugen/templates/rofi.rasi"
output_path = "~/.config/rofi/colors.rasi"

[templates.hyprland]
input_path  = "~/.config/matugen/templates/hyprland.lua"
output_path = "~/.config/hypr/user/colors.lua"

[templates.hyprlock]
input_path  = "~/.config/matugen/templates/hyprlock.conf"
output_path = "~/.config/hypr/hyprlock.conf"

[templates.gtk3]
input_path  = "~/.config/matugen/templates/gtk3.css"
output_path = "~/.config/gtk-3.0/gtk.css"

[templates.gtk4]
input_path  = "~/.config/matugen/templates/gtk4.css"
output_path = "~/.config/gtk-4.0/gtk.css"

[templates.nvim]
input_path  = "~/.config/matugen/templates/nvim_palette.lua"
output_path = "~/.config/nvim/lua/matugen_palette.lua"

[templates.yazi]
input_path  = "~/.config/matugen/templates/yazi.toml"
output_path = "~/.config/yazi/theme.toml"

[templates.firefox]
input_path  = "~/.config/matugen/templates/firefox.css"
output_path = "~/.config/mozilla/firefox/{{ .firefox_profile }}/chrome/theme-material-blue.css"

[templates.dunst]
input_path  = "~/.config/matugen/templates/dunst.conf"
output_path = "~/.config/dunst/dunstrc"

[templates.tmux]
input_path  = "~/.config/matugen/templates/tmux.conf"
output_path = "~/.cache/tmux/tmux_colors.conf"

[templates.cava]
input_path  = "~/.config/matugen/templates/cava.conf"
output_path = "~/.config/cava/config"
