[config]

[templates.waybar]
input_path  = "~/.config/matugen/templates/waybar.css"
output_path = "~/.config/waybar/colors.css"

[templates.kitty]
input_path  = "~/.config/matugen/templates/kitty.conf"
output_path = "~/.config/kitty/colors.conf"

[templates.rofi]
input_path  = "~/.config/matugen/templates/rofi.rasi"
output_path = "~/.config/rofi/colors.rasi"

[templates.hyprland]
input_path  = "~/.config/matugen/templates/hyprland.lua"
output_path = "~/.config/hypr/user/colors.lua"

[templates.hyprlock]
input_path  = "~/.config/matugen/templates/hyprlock.conf"
output_path = "~/.config/hypr/hyprlock.conf"

[templates.gtk3]
input_path  = "~/.config/matugen/templates/gtk3.css"
output_path = "~/.config/gtk-3.0/gtk.css"

[templates.gtk4]
input_path  = "~/.config/matugen/templates/gtk4.css"
output_path = "~/.config/gtk-4.0/gtk.css"

[templates.nvim]
input_path  = "~/.config/matugen/templates/nvim_palette.lua"
output_path = "~/.config/nvim/lua/matugen_palette.lua"

[templates.yazi]
input_path  = "~/.config/matugen/templates/yazi.toml"
output_path = "~/.config/yazi/theme.toml"

[templates.dunst]
input_path  = "~/.config/matugen/templates/dunst.conf"
output_path = "~/.config/dunst/dunstrc"

[templates.tmux]
input_path  = "~/.config/matugen/templates/tmux.conf"
output_path = "~/.cache/tmux/tmux_colors.conf"

[templates.cava]
input_path  = "~/.config/matugen/templates/cava.conf"
output_path = "~/.config/cava/config"

[templates.vesktop]
input_path  = "~/.config/matugen/templates/vesktop.css"
output_path = "~/.config/vesktop/themes/matugen.css"

[templates.obsidian-vault]
input_path  = "~/.config/matugen/templates/obsidian.css"
output_path = "~/Vault/.obsidian/snippets/matugen.css"

[templates.obsidian-j42]
input_path  = "~/.config/matugen/templates/obsidian.css"
output_path = "~/J42/.obsidian/snippets/matugen.css"

[templates.pywalfox]
input_path  = "~/.config/matugen/templates/pywalfox-colors.json"
output_path = "~/.cache/wal/colors.json"
post_hook   = "pywalfox update"

[templates.starship]
input_path  = "~/.config/matugen/templates/starship.toml"
output_path = "~/.config/starship.toml"
