{{- $monitor := promptStringOnce . "monitor" "Monitor name (run: hyprctl monitors)" "eDP-1" -}}
{{- $backlight := promptStringOnce . "backlight" "Backlight device (ls /sys/class/backlight/)" "intel_backlight" -}}
{{- $timezone := promptStringOnce . "timezone" "Timezone" "Europe/Zurich" -}}

[data]
    monitor   = {{ $monitor | quote }}
    backlight = {{ $backlight | quote }}
    timezone  = {{ $timezone | quote }}
