{
    "layer": "top",
    "position": "top",
    // Choose the order of the modules
    "modules-left": ["hyprland/workspaces"],
    "modules-center": ["clock"],
    "modules-right": ["custom/music", "pulseaudio", "backlight", "battery", "custom/updates", "tray", "custom/lock", "custom/power"],
    "hyprland/workspaces": {
         "disable-scroll": true,
         "sort-by-name": true,
         "format": " {name} ",
         "format-icons": {
             "default": "",
         },
     },
    "tray": {
        "icon-size": 21,
        "spacing": 10
    },
    "custom/music": {
        "format": "  {}",
        "escape": true,
        "interval": 5,
        "tooltip": false,
        "exec": "playerctl metadata --format='{{ "{{" }} title {{ "}}" }}'",
        "on-click": "playerctl play-pause",
        "max-length": 50
    },
    "clock": {
        "timezone": "{{ .timezone }}",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": " {:%d/%m/%Y}",
        "format": " {:%a %d  %H:%M}"
    },
    "backlight": {
        "device": "{{ .backlight }}",
        "format": "{icon}",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon}",
        "format-charging": "",
        "format-plugged": "",
        "format-alt": "{icon}",
        "format-icons": ["", "", "", "", "", "", "", "", "", "", "", ""]
    },
"pulseaudio": {
        "format": "{icon} {volume}%",
        "format-muted": "",
        "format-icons": {
            "default": ["", "", " "]
        },
        "on-click": "pavucontrol"
    },
    "custom/updates": {
        "exec": "~/.config/waybar/update-count.sh",
        "interval": 3600,
        "signal": 8,
        "format": "󰚰 {}",
        "tooltip": false,
        "on-click": "kitty -e bash -c 'yay -Syu; pkill -RTMIN+8 waybar'"
    },
    "custom/lock": {
        "tooltip": false,
        "on-click": "hyprlock",
        "format": "",
    },
    "custom/power": {
        "tooltip": false,
        "on-click": "wlogout &",
        "format": ""
    }
}
