@import "colors.css";

* {
  font-family: CaskaydiaMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background-color: @base;
  color: @text;
  border-bottom: 2px solid @surface1;
  opacity: 0.85;
}

#custom-ws1, #custom-ws2, #custom-ws3, #custom-ws4, #custom-ws5,
#custom-ws6, #custom-ws7, #custom-ws8, #custom-ws9, #custom-ws10 {
  color: @blue;
  background: transparent;
  padding: 0.25rem 0.6rem;
  margin: 0;
}

#custom-ws1.active, #custom-ws2.active, #custom-ws3.active, #custom-ws4.active, #custom-ws5.active,
#custom-ws6.active, #custom-ws7.active, #custom-ws8.active, #custom-ws9.active, #custom-ws10.active,
#custom-ws1:hover, #custom-ws2:hover, #custom-ws3:hover, #custom-ws4:hover, #custom-ws5:hover,
#custom-ws6:hover, #custom-ws7:hover, #custom-ws8:hover, #custom-ws9:hover, #custom-ws10:hover {
  color: @blue;
  box-shadow: inset 0 -2px @blue;
}

#custom-music,
#custom-updates,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  margin: 0;
  border-radius: 0;
}

#clock {
  color: @blue;
}

#battery {
  color: @blue;
}

#battery.charging {
  color: @blue;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @blue;
}

#pulseaudio {
  color: @blue;
}

#custom-music {
  color: @mauve;
}

#custom-updates {
  color: @blue;
}

#custom-lock {
  color: @blue;
}

#custom-power {
  color: @blue;
}

#tray {
  border-radius: 0;
}

tooltip {
  background-color: @surface0;
  border: 1px solid @overlay0;
  border-radius: 8px;
}

tooltip label {
  color: @text;
}
